	<!--Banner-->
	<div class="banner insurance-banner">
		<div class="container">
			<div class="banner-caption align-left">
				<h1>Descarga tu RUT en cualquier lugar</h1>
				<p>Ya puedes descargar, actualizar y hacer tus consultas desde un solo lugar.</p>
			</div>
            <div class="banner_form">
            	<h3>Descargar RUT</h3>

                <form method="post" action="/open-account/step-two">
					<div class="form_inputs">
							<p style="color:#1f1f1f">Empieza tu proceso por medio de tu correo!</p>
							<div class="formRow">
							<label>Nombres</label>
							<input type="text" name="givenName"  placeholder="Nombres" onFocus="this.placeholder = ''">
							<div class="inputLine"></div>
					</div>
					<div class="formRow">
							<label>Apellidos</label>
							<input type="text" name="familyName"  placeholder="Apellidos" onFocus="this.placeholder = ''">
							<div class="inputLine"></div>
					</div>
					<div class="formRow">
							<label>Cédula</label>
							<input type="number" name="ceduladeciudadania"  placeholder="Cédula de ciudadanía" onFocus="this.placeholder = ''">
							<div class="inputLine"></div>
					</div>
						<div class="formRow">
							<label>Email</label>
							<input type="email" placeholder="Email" name="email" onFocus="this.placeholder = ''">
							<div class="inputLine"></div>
						</div>
					</div>
					<input type="submit" value="Empezar ">
                </form>
            </div>
		</div>
	</div>

	<!--Content Area-->
	<div class="container">
		<div class="content-area">
			<h1>Our Services</h1>
			<div class="column-wrap clearfix">
				<div class="col-3">
					<div class="column-item">
						<img src="/images/insurance_icon1.svg">
						<h2>Homeowners</h2>
						<p>We specialize in mobile home insurance policies for owners and renters.</p>
					</div>
				</div>
				<div class="col-3">
					<div class="column-item">
						<img src="/images/insurance_icon2.svg">
						<h2>Car</h2>
						<p>Your car is safe with us.</p>
					</div>
				</div>
				<div class="col-3">
					<div class="column-item">
						<img src="/images/insurance_icon3.svg">
						<h2>Health</h2>
						<p>We offer nearly every type of insurance coverage for your health and peace of mind.</p>
					</div>
				</div>
				<div class="col-3">
					<div class="column-item">
						<img src="/images/insurance_icon4.svg">
						<h2>Life</h2>
						<p>We are always here for you, now and in the future.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
